body {
    margin: 0;
    padding: 0;
}

.myProfile-container {
    margin: 0 auto;
    color: rgb(2, 27, 49);
    font-family: cursive;
    margin: 5%;
    padding: 3%;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgb(2, 24, 43);
    background: #00a2ff25;
    border-radius: 8px;
    text-align: left;
    max-height: fit-content;
    max-width: 30px;
}
