* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.drinks-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu-img img {
  height: 5vh;
  cursor: pointer;
}

.drinks-container input {
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  cursor: pointer;
}

.side_menu {
  position: fixed;
  top: 75px;
  left: 0;
  margin: 3rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-110%);
  transition: 0.5s;
}

.active_side_menu {
  transform: translate(10px);
}

.mainHeader {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  background-color: #021820c5;
  color: #eee8b5fd;
}

.menu-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 16vw;
  padding: 7px;
}

.section-one-holder {
  width: 20vw;
}

.section-one {
  opacity: 0.9;
  max-width: 20vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border: 3px solid #222;
  background: linear-gradient(
    rgba(190, 235, 243, 0.562),
    rgba(136, 188, 236, 0.726),
    rgba(94, 181, 207, 0.678),
    rgba(245, 231, 170, 0.384),
    rgba(18, 1, 58, 0.562)
  );
}

.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.filter-section .piece-title {
  cursor: pointer;
}

.filter-section .options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.drinks-checkbox {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: center;
  gap: 10px;
  font-style: italic;
  font-family: cursive;
  padding: 4px;
  cursor: pointer;
}

.section-one h5 {
  border: rgba(3, 61, 75, 0.342);
  box-shadow: 15px 13px 10px rgba(2, 47, 77, 0.589);
  width: 15vw;
  margin: 0 auto;
  font-size: 25px;
  border-radius: 10px;
  color: #01242b;
}

.section-two {
  background: #9fd3ecaf;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  gap: 2rem;
  border: 0.5px solid black;
}

.topic {
  width: 100%;
  height: 5vh;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  padding: 2rem 0 10px;
  color: #021c33fd;
  margin: 4%;
}

.site-desc {
  margin: auto;
  border: 2px #0a0a0a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 5%;
  background: rgba(135, 195, 222, 0.39);
  max-width: 50vw;
}

.desc1 {
  border: 2px #010a13;
  font-size: small;
}

.desc1 h6 {
  color: rgb(100, 46, 2);
}

.desc2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.desc2 img {
  height: 7vh;
  width: 4vw;
  max-width:min-content;
  max-height: fit-content;
  border-radius: 55%;
  border-style: dotted 5px #dceb06;
}

.section-two h1 {
  font-size: 60px;
  border-radius: 20px;
  box-shadow: 15px 12px 15px rgba(1, 50, 78, 0.384);
  font-family: cursive;
  font-weight: 900;
  height: fit-content;
}

.section-two h3 {
  cursor: pointer;
  font-weight: 700;
  font-family: cursive;
  align-items: center;
  box-shadow: 15px, 13px, 10px #CAF0F8;
  border-radius: 9%;
}

.inside-span {
  color: #010a13;
  display: flex;
  cursor: pointer;
  border-collapse: collapse;
  line-height: 1.3;
  border: 2px #000000;
  font-weight: 400;
  font-family: cursive;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(135, 195, 222, 0.39);
  border-radius: 10px;
  box-shadow:  15px, 13px, 10px rgba(2, 66, 82, 0.568);
}

.drinks-body {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 5%;
}

.drink {
  background-color: rgba(135, 195, 222, 0.39);
  width: 100%;
  height: fit-content;
  border: 1px solid rgb(1, 36, 25);
  padding: 1rem 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.drink h1 {
  background-color: #bfeaf1;
  width: 100%;
  height: fit-content;
  font-size: 1.3rem;
  margin: 0 0 10px;
  box-shadow:  15px, 13px, 10px rgba(208, 239, 247, 0.568);
  border: none;
}

.drink img {
  width: 100%;
  min-height: 200px;
  max-height: 350px;
  margin: 0 0 10px;
  border-radius: 10px;
}

.drink p {
  background-color: #000d0f33;
  color: #000c0f;
  width: 100%;
  word-wrap: normal;
  line-height: 30px;
  margin: 0 0 10px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
}

.footer {
  margin-top: 4%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #000c0f6c;
  height: 45vh;
}

.about {
  height: 19vh;
  width: 25vw;
  background: rgba(245, 245, 220, 0.555);
  text-align: left;
  border-radius: 10px;
}

.about h3,
.contact h3 {
  text-align: center;
}

.about h6,
.contact h6 {
  text-align: center;
  padding: 1%;
}

.contact {
  height: 19vh;
  width: 25vw;
  background: rgba(124, 229, 233, 0.158);
  text-align: left;
  border-radius: 10px;
}

.social-media {
  background: rgba(245, 245, 220, 0.178);
  width: 25vw;
  height: 19vh;
}

.social-media h2 {
  color: rgb(85, 35, 2);
  padding: 2%;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.mail h5 {
  color: rgb(85, 35, 2);
}

.bottom {
  background: rgba(245, 245, 220, 0.384);
  text-align: left;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 700;
}

@media only screen and (max-width: 1020px) {
  .drinks-body {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .drinks-body {
    grid-template-columns: 1fr;
  }
}
